__pycache__/
*.pyc
.idea/
.env
.python-version
.venv/

/notebooks/
/wandb/
/lm_eval_out/
/distractors/
/evals_outputs/
/evaluation_results/
/data/
/eval_test/
/evaluation/
eve-evaluation/
uv.lock

evals.yaml
scripts/evals.yaml
/scripts/fix_sapien_aggregates.py
/tasks/rag/
/tasks/wiley_mcqa/
./cpt_eval/
/responses/
/win_rate_results/
